.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
}

.list-logo {
  height: 34px;
  margin: 0 10px 0 0;
}

.list-logo path {
  background: linear-gradient(204.14deg, #951cce 5%, #c92db9 83.64%);
}

.list-title {
  align-items: center;
  color: #c92db9;
  display: flex;
  font-size: 2.2rem;
  margin: 0;
}

.list-upload-btn {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.35);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  fill: rgba(0, 0, 0, 0.6);
  height: 34px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 34px;
}

.list-upload-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
  fill: rgba(0, 0, 0, 1);
}

.list-grid {
  display: grid;
  gap: 40px 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 380px) {
  .list-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 680px) {
  .list-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 880px) {
  .list-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
