.select_photos {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  width: 100%;
}

.select_photos .footer {
  display: flex;
  justify-content: flex-end;
}

.select_photos .footer > * {
  margin: 0 0 0 10px;
}

.image_input {
  position: relative;
  width: 160px;
}

.image_input input {
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
