.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.layout-header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
}

.layout-title {
  color: #444444;
  font-size: 2rem;
  margin: 0;
}

.layout-back-btn {
  margin: 0 15px 0 0;
  width: 36px;
}

.layout-back-btn svg {
  height: 16px;
  width: 16px;
}

.layout-left-controls,
.layout-right-controls {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 100%;
}

.layout-content {
  background-color: #ffffff;
  flex-grow: 1;
  overflow: hidden;
  padding: 0 25px 25px;
}

.layout-content.no-padding {
  padding: 0;
}
