.modal {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.modal-header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 25px;
  width: 100%;
}

.modal-title {
  color: #444444;
  font-size: 2rem;
  margin: 0;
}

.modal-close-btn {
  margin: 0 15px 0 0;
  width: 36px;
}

.modal-close-btn svg {
  height: 16px;
  width: 16px;
}

.modal-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
}

.modal-img {
  height: 100%;
  object-fit: contain;
  padding: 30px;
  width: 100%;
}
